
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {

  font-family: 'poppins';
  font-size: 30px;
  font-weight: 500;
  background-color:cornsilk;
}

.bg-navy {
  background: -webkit-linear-gradient(90deg, #000000,#000040);
  background: linear-gradient(90deg, #000000,#000040);
  /* background-color: navy; */
  color: white;
  border-radius: 5px;
}
.scroll {

  height: 100%;
 overflow: auto;
}

/* .chapters {
 
 display: flex;
 justify-content: space-between;
} */
.curser {

  cursor: pointer;  
}
.active{
  color: yellow !important;
}
/* .player{
  background-color: dimgray;
} */